/* div{
    background-image: url("C:/Users/Pushpander Shukla/Desktop/Poonam-Leranings/Angular-Projects/Astrology/src/assets/Images/Home Page/Home_page.jpg");

    background-repeat: repeat;
    background-size: cover;
    object-fit: cover;
    color: beige;

} */
.tab
le{
    margin-left: 28px;
    margin-right: auto;
    border-spacing: 30px;
}

.center-text-align{
    text-align: center;
}

.td{
    border: beige solid 2px;
    border-radius: 4px;
    grid-gap: 100px;
    height: 120px;
    width: 120px; 
}

table td:hover img{
    transform:scale(1.5);
}

.round{
    border-radius: 50%;
}

