<div class="main">
    <br><br>
    <h1 style="font-size: 50px; color: white;" class="center-text-align">Welcome to Astro World!!!</h1>
    <h5 style="color: white;" class="center-text-align">Choose your sign</h5> <br><br>

    <table class="table">
        <tr>
            <td> <img src="assets/Images/Signs/Aries1.jpg" alt="Aries" class="td round"></td>
            <td> <img src="assets/Images/Signs/Taurus1.PNG" alt="Taurus" class="td round"></td>
            <td> <img src="assets/Images/Signs/Gemini1.PNG" alt="Gemini" class="td round"> </td>
            <td> <img src="assets/Images/Signs/Cancer1.PNG" alt="Cancer" class="td round"> </td>
            <td> <img src="assets/Images/Signs/Leo1.PNG" alt="Leo" class="td round"> </td>
            <td> <img src="assets/Images/Signs/Virgo1.PNG" alt="Virgo" class="td round"> </td>
        </tr><br>

        <tr>                
            <td> <img src="assets/Images/Signs/Libra1.PNG" alt="Libra" class="td round"> </td>
            <td> <img src="assets/Images/Signs/Scorpio1.PNG" alt="Scorpio" class="td round"> </td>
            <td> <img src="assets/Images/Signs/Saggitarius1.PNG" alt="Saggitarius" class="td round"> </td>
            <td> <img src="assets/Images/Signs/Capricon1.PNG" alt="Capricon" class="td round"> </td>
            <td> <img src="assets/Images/Signs/Aquarius1.PNG" alt="Aquarius" class="td round"> </td>
            <td> <img src="assets/Images/Signs/Pieces1.PNG" alt="Pieces" class="td round"> </td>
        </tr>
    </table>
    
</div>